<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>IncomingWebhookServlet</servlet-name>
		<servlet-class>net.hazychill.ikafs.webhooks.IncomingWebhookServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>WebFeedServiceServlet</servlet-name>
		<servlet-class>net.hazychill.ikafs.webfeed.WebFeedServiceServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>MaintenanceServlet</servlet-name>
		<servlet-class>net.hazychill.ikafs.misc.MaintenanceServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>IncomingWebhookServlet</servlet-name>
		<url-pattern>/webhook/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>WebFeedServiceServlet</servlet-name>
		<url-pattern>/webfeed/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>MaintenanceServlet</servlet-name>
		<url-pattern>/misc/*</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>webfeedadmin</web-resource-name>
			<url-pattern>/webfeed/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>webhookadmin</web-resource-name>
			<url-pattern>/webhook/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>otherresources</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

</web-app>